<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>

		<bindings>
   <netTcpBinding>
	<binding name="myTcpBinding" closeTimeout="01:50:00" openTimeout="01:50:00"
	 receiveTimeout="01:50:00" sendTimeout="01:50:00" maxReceivedMessageSize="20000000"
		 maxBufferSize="20000000"
		 maxBufferPoolSize="20000000">
		<readerQuotas maxDepth="200"
			  maxArrayLength="200000000"
			  maxStringContentLength="200000000"
			  maxBytesPerRead="4096"
			  maxNameTableCharCount="16384"/>
	</binding>
   </netTcpBinding>
  </bindings>
		
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="DriverPlannerService.DriverPlannerService">
				<endpoint bindingConfiguration="myTcpBinding" address="" binding="basicHttpBinding" contract="DriverPlannerService.IDriverPlannerService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/DriverPlannerService/DriverPlannerService/" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>